  
h1 {
  text-align: center;
}

h2 {
  font-weight:bold;
  font-size: 30px;
  text-align: center;
}

h3 {
  font-style:italic;
  text-align:left;
}

img {
  max-width: 100%;
  max-width: auto;
}

.column {
  width: 23%;
  float: left;
  padding: 5px;
}

.column p a {
  color: red;
  font-weight: bold
}

.column h3 {
  color: rgb(18, 136, 18);
  font-weight: bold;
}